.label-before {
	line-height: 20px;
	top: -10px;
	background: #fff;
    border-radius: 3px;
	padding: 0 6px;
	left: 9px;
}

div.calculator {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #14213d;
        background-size: cover;
        background-position: top center;
        z-index: -1;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    .form {
        width: 40%;
        margin: 30px;

        .field {
            position: relative;
            margin-bottom: 15px;

            label::before {
                content: attr(title);
                position: absolute;
                top: 0;
                left: 15px;
                line-height: 40px;
                font-size: 14px;
                font-weight: 500;
                color: #777;
                transition: 300ms all;
            }

            input {
                width: 100%;
                line-height: 40px;
                padding: 0 15px;
                box-sizing: border-box;
                font-size: 14px;                
                color: #222;
                border: 1px solid #ccc;
                border-radius: 3px;

                &:focus {
                    outline: 0;
                    border-color: #ccc;
                    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, .3);
                }

                &:valid + label::before {
                    @extend .label-before;
                    content: attr(title);
                }

                &:focus + label::before {
                    @extend .label-before;
                    color: #632565;
                }
            }
        }

        button.btn {
            float: right;
            margin-left: 5px;
        }

        button.btn-clear {
            background-color: transparent;
            border: 1px solid #ffae00;
            color: #ffae00;
        }

        button.btn-clear:hover {
            background-color: #ffae00;
            color: #fff;
        }
            
        button.btn-clear:focus {
            box-shadow: 0px 0px 0px 4px rgba(255, 174, 0, .3);
        }

        button.btn-submit {
            background-color: transparent;
            border: 1px solid #3adb76;
            color: #3adb76;
        }

        button.btn-submit:hover {
            background-color: #3adb76;
            color: #fff;
        }

        button.btn-submit:focus {
            box-shadow: 0px 0px 0px 4px rgba(58, 219, 118, .3);
        }

    }
}