div.home {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../image/wallpaper.jpg');
        background-size: cover;
        background-position: top center;
        filter: brightness(.8);
        z-index: -999;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
}