header#navbar {
    position: relative;
    z-index: 1;

    a.navbar-brand {
        margin: -5px 0 5px 40px;
        padding-top: 10px;

        span {
            font-size: 25px;            
        }
    }

    #navbarNav {
        ul {
            margin-right: 50px;
        }

        li {
            transition-duration: .7s;
            cursor: pointer;
            white-space: nowrap;

            &:hover {
                transform: scale(1.2);
            }

            a {
                text-transform: uppercase;
                color: rgba(255, 255, 255, .7);
            }
        }
    }
}
  
@media (max-width: 990px) {
    header#navbar {
        ul {
            margin: 0 !important;
        }

        a.navbar-brand { 
            margin: 0 !important;
        }

        button.navbar-toggler {
            margin-top: -44px;
            margin-bottom: 10px;
        }

        #navbarNav {
            margin-left: 0 !important;
            text-align: right;

            li.nav-item:hover {
                transform: translate(-1%, 0) !important;
                padding-top: 5px;
            }
        }
    }
}